.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .2rem;
  border-radius: 10px;
  font-size: .85rem;
  background-color: red;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:rgb(168, 27, 27); }
  25%  {background-color:rgb(156, 156, 28); }
  50%  {background-color:rgb(33, 33, 145); }
  75%  {background-color:rgb(28, 141, 28); }
  100% {background-color:rgb(136, 24, 24);}
}

.item {
  margin: 1rem 0.5rem;
}

.image {
  display: flex;
  flex-direction: row;
}

.image img {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  text-align: center;
}



.actions {
  padding: 0.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

/* for mobile */
@media (max-width: 580px) {
.main{
  font-size: 0.65rem;
}

.image img {
  width: 60px;
  height: 60px;
}
  
}
 /* FOR TABLET */
@media (max-width: 768px) {
  .main{
    font-size: 0.75rem;
  }
  
  .image img {
    width: 50px;
    height: 50px;
  }
    
}