.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: .2rem;
}
.gap {
  background-color: #3d3838;
  height: 0.1rem;
  width: 100%;
}


.text {
  display: flex;
  color: #302b2b;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 320px ;  
  margin: 20px;
}
.text h4 {
  align-items: center;
}
.text h3 {
  align-items: center;
  font-size: 12px;
}
.text p {
  font-size: 10px;
}
.text ul {
  align-items:stretch;
}

/* for MOBILE */
@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }
 
  .text {
    width: 340px;
    height: 300px;
  }
}

/* For Tablet */
@media  (max-width:768px) {
  .item{
    padding: 0.2rem;
  }

  .text {
    width: 340px;
    height: 300px;
  }
 
}

