.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #393939;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gap {
  background-color: #ababab;
  height: 0.1rem;
  width: 100%;
}


.logo {
  display: flex;
  color: #ababab;
  justify-content: center;
  flex-direction: row;
}

.text {
  display: flex;
  color: #ababab;
  justify-content: center;
}

.text h4 {
  align-items: center;
}
.text h3 {
  align-items: center;
  font-size: 12px;
}
.text p {
  font-size: 10px;
}
.text ul {
  align-items:stretch;
}


@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }
 .text {
  flex-direction: column;
 }
}
  
