.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:  #393939;;
  padding: .2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon{
  margin: 2px;
  padding: 2px;
}
.text {
  display: flex;
  color: #ababab;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 50px;
  background-color:  #393939;
  margin: 2px;
}

.gap {
  background-color:  rgb(187, 90, 55);
  height: .1rem;
  width: 100%;
}
.text h4 {
  align-items: center;
}
.text h3 {
  align-items: center;
  font-size: 12px;
}
.text p {
  font-size: 10px;
}
.text ul {
  align-items:stretch;
}


@media  (max-width:580px) {
  .item {
    flex-direction: column;
    min-width: 375px;
  }
 .text {
  flex-direction: column;
 }
}
  
