.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}



.logo {
  display: flex;
  color: #ababab;
  justify-content: center;
  flex-direction: row;
}

.text {
  display: flex;
  color: #3d3535;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  width: 600px;
}

.text h4 {
  align-items: center;
}
.text h3 {
  align-items: center;
}
.text p {
  font-size: 10px;
}
.text ul {
  align-items:stretch;
}


@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }
 .text {
  flex-direction: column;
  width: 380px;
  height: 200px;
 }
}
  
