.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
  padding: 2px;
  background-color: lightblue;
}


.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(85, 92, 88);
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 420px;
  margin: 8px;
  padding: 5px;
  background-color: lightblue;
  color: #545454;
}





.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.text li {
  color: #737373
}


.rental {
  color: #4a4a4a;
}

.gap {
  padding-top: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  border-radius: 10px;
}

@media  (max-width:580px) {
  .item {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main{
    max-width: 358px;
  }

  .image{
    height: 200px;
    width: 350px;
  }
}


@media  (max-width:768px) {
  .item {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
 
}

  
