.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(66, 156, 93);
  border-radius: 5px;
  flex-direction: row;
}



@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }
  .main{
    display: flex;
    margin: 0.15rem;
    width: 100%;
    flex-direction: column;
  }

  .image{
    height: 200px;
    width: 350px;
  }
}
  
