.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #393939;
  border-radius: 10px;
}
.gap {
  padding: 0.2rem;
}

.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(66, 156, 93);
  border-radius: 5px;
}
.image {
  display: flex;
}

.text {
  display: flex;
  color: #ababab;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text h3 {
  align-items: center;
}

.text ul {
  align-items: center;
}


@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }
 .text {
  flex-direction: column;
 }
}
  
