.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(85, 92, 88);
  border-radius: 5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 400px;
  padding: 1px;
  margin: 12px;
}



.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.text li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  margin: .1rem;
  color: #00000099;
}

.rental {
  color: #4a4a4a;
}

.gap {
  padding-top: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}

@media  (max-width:580px) {
  .item {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main{
    max-width: 375px;
  }

  .image{
    height: 200px;
    width: 350px;
  }
}


@media  (max-width:768px) {
  .item {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
 
}

  
