.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 10px;
}


.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(66, 156, 93);
  border-radius: 5px;
  flex-wrap: wrap;
}






@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }

}
  
