.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: rgb(32, 33, 34);
  border-radius: 10px;
  padding: 10px;
}


.main {
  display: flex;
  box-shadow: 2px 2px 2px 2px  rgb(117, 153, 128);
  border-radius: 5px;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  
}

.call{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 280px;
}






@media  (max-width:580px) {
  .item {
    flex-direction: column;
  }

}
  
